.btn-services {
  font-family: Roboto;
  @include fonts(16px, 700, 1.87, 0.06em);
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--accent-color);
  color: var(--nav-text-color);
  display: block;
  margin: 0 auto;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: var(--btn-spec-color);
  }
}
