.label-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  background-color: var(--web-color);
  @include fonts(16px, 700, 1.87, 0.06em);
  color: var(--nav-text-color);
  margin-left: 10px;
  cursor: pointer;
  border: none;
  &-svg {
    margin-left: 10px;
    fill: var(--nav-text-color);
  }
}
