:root {
  --contacts-color: #ffffff;
  --link-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --header-text-color: #757575;
  --header-text-color-link: #212121;
  --nav-text-color: #ffffff;
  --accent-color: #2196f3;
  --portfolio-text-color: #212121;
  --web-color: #2196f3;
  --studio-color: #000000;
  --footer-color: rgba(255, 255, 255, 0.6);
  --footer-background-color: #2f303a;
  --border-color: #ececec;
  --buttons-background-color: #f5f4fa;
  --section-background-color: #2f303a;
  --btn-spec-color: #1d94f5;
  --img-background-color: #f5f4fa;
  --footer_link-color: rgba(255, 255, 255, 0.6);
  --background-overlay-background: rgba(33, 150, 243, 0.9);
}
